.newgame-title {
  font-size: 55px;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 20px;
  color: #42c98f;
  animation: glitch 1s infinite alternate;
}

@keyframes glitch {
  0% {
    text-shadow: -2px -2px 0px #ff00ff;
  }
  50% {
    text-shadow: 2px 2px 0px #00ffff;
  }
  100% {
    text-shadow: -2px -2px 0px #ff00ff;
  }
}

.glitch-text {
  animation: glitch 0.5s infinite alternate;
}

.separator-popular {
  border: none;
  height: 2px;
  background-color: #2b2b2b;
  margin-bottom: 20px;
  margin: 20px 0;
}

@media (max-width: 1024px) {
  .newgame-title {
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  .newgame-title {
    font-size: 35px;
    margin-top: 80px;
  }
}
